parameters:
	ycombinator:
		baseUrl: 'https://news.ycombinator.com/'
		nextPage: 'https://news.ycombinator.com/news?p='

application:
	errorPresenter: Error
	mapping:
		*: [App, Modules\*, Presenters\*Presenter]


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no
